*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #242424;
}

.title{
margin-top: 5px;
font-family: 'Gilroy';
font-size: 55px;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.subtitle{
  font-family: 'Gill Sans MT';
  margin-top: 0px;
}

.menu{
  font-family: 'Gill Sans MT';
}

.main{
  font-family: 'Gilroy';
  align-items: center;
  text-align: center;
}

.fa-bug{
  color: #6202C2;
  font-size: 30px;
  margin-left: 50px;
}

.copyright{
  font-family: 'Gilroy';
}

header {
  background-color: #1e1e1e;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 50px;
}

nav a:hover {
  color: #9977BC;
}

main {
  margin-top: 60px;
  padding: 20px;
  text-align: center;
  color: white;
}

.button {
  background: #6202C2;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 20px;
  font-family: 'Gill Sans MT';
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 2px solid #000000;
  box-shadow: 8px 13px 3px rgba(0, 0, 0, 0.25);
}

.image{
  padding: 0px;
  margin: 10px;
  float: left;
}

footer {
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  bottom: 0;
  width: 100%;
}

/*Burger menu*/

		.burger {
			display: block;
			position: absolute;
			float: left;
			top: 20px;
			left: 20px;
			width: 30px;
			height: 30px;
			cursor: pointer;
			z-index: 999;
		}

		.burger span {
			display: block;
			height: 4px;
			background-color: #6202C2;
			margin-bottom: 6px;
			border-radius: 2px;
		}

		.burger:hover span {
			background-color: #7302e4;
		}

