*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.otf'),
  url('../fonts/Gilroy-Light.otf');
  font-weight: normal;
  font-style: normal;
  font-family: sans-serif;
  }

body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy';
  background: #111;
  height: 100%;
  overflow: hidden; /* Evita que haya scroll */
}

/*login*/
.login-box {
  margin-top: 23%;
  position: absolute;
  left: 50%;
  width: 25rem;
  padding: 2.5rem;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 0.938rem 1.563rem rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #a504f6;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #a504f6;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-text:hover {
  background: #6e0ba8;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #7f0994, 0 0 25px #7f0994, 0 0 50px #7f0994,
    0 0 100px #7f0994;
}

.login-text {
  text-align: center;
  margin: 50px;
}

.or {
  color: rgba(255, 255, 255, 0.5);
  bottom: 34%;
  text-align: center;
  margin: -24px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 0.13rem;
  background: linear-gradient(90deg, transparent, #d003f4);
  animation: btn-anim1 1s linear infinite;
}

.form__btn{
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #a504f6;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}

.form__btn:hover{
  color: #FFFFFF;
}

/*Facebook*/

.facebook-btn {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 15px;
}

.facebook-btn:hover {
  background-color: #1d3b8f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #1d3b8f, 0 0 10px #1d3b8f, 0 0 20px #1d3b8f,
    0 0 30px #1d3b8f;
  transition: all 0.5s ease 0s;
}

.facebook-btn i {
  margin-right: 10px;
}

.facebook-btn span {
  vertical-align: middle;
}

/*google*/

.google-btn {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 17px;
}

.google-btn:hover {
  background: rgba(193, 45, 45, 0.79);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(193, 45, 45, 0.79), 0 0 10px rgba(193, 45, 45, 0.79),
    0 0 20px rgba(193, 45, 45, 0.79), 0 0 30px rgba(193, 45, 45, 0.79);
  transition: all 0.5s ease 0s;
}

.google-btn i {
  margin-right: 10px;
}

.google-btn span {
  vertical-align: middle;
}

.btn-txt {
  color: #fff;
  text-decoration: none;
}

.cuestion {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.83em;
  font-family: 'Gilroy';
  text-align: center;
}

.cuestion_link {
  color: #fff;
  font-size: 13.12px;
  font-family: 'Gilroy';
  text-decoration: none;
  text-align: center;
}

.cuestion_link:hover {
  color: #d003f4;
  transition: all 0.2s ease 0s;
}

.terms {
  text-align: center;
  margin-top: 40px;
  font-family: 'Gilroy';
}


/* Estilos de encabezado y pie de página */
.menu{
  font-family: 'Gill Sans MT';
  padding: 30px 0;
}

.main{
  font-family: 'Gilroy';
  align-items: center;
  text-align: center;
}


.logo span, .logo a{
  font-size: 35px;
  font-family: 'Gilroy';
  font-weight: bold;
  text-decoration: none;
}

header {
  background-color: #000000;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 50px;
}

nav a:hover {
  color: #9977BC;
}


.button {
  background: #6202C2;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 20px;
  font-family: 'Gill Sans MT';
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 2px solid #000000;
  box-shadow: 8px 13px 3px rgba(0, 0, 0, 0.25);
}

/*Footer*/
footer {
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  color: #fff;
  justify-content: space-between;
  font-family: 'Gilroy';
  

}

footer span a{
  color: #6202C2;
  text-decoration: none;
  font-size: 15px;
}
footer span a:hover{
  text-decoration: underline;
}

.policy a{
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: 'Gilroy';
}

.policy a:hover{
  color: #9977BC;
  transition: all 0.2s ease 0s;
}

.medias a{
  cursor: pointer;
  transition: all 0.2s ease 0s;
  color: #fff;
  margin-left: 10px;
  font-size: 22px;
}

@media (max-width: 1104px) {
  body{
    height: 2100px;
  }
  main p{
    font-family: 'Gilroy';
    justify-content: center;
    margin: 0px 150px 0px 150px;
  }
  main p{
    font-family: 'Gilroy';
    justify-content: center;
    margin: 0px 150px 0px 150px;
  }

  .medias a{
    font-size: 16px;
  }

  .copy{
    font-size: 12px;
  }
  .policy a{
    font-size: 12px;
  }
}

/*Animaciones*/

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #d003f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #d003f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #852fdb);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}