*{
    margin: 0;
    padding: 0;
}
body{
    
}

header{
    height: 10vh;
    background-color: cadetblue;
}



header > a{
    float: right;
}

main{
    height: 90vh;
    background-color: blanchedalmond;
}

section{
    height: 300px;
    box-shadow: 0 5px 10px black;
    margin-bottom: 15px;
}

footer{
    height: 20rem;
}
